{% extends "base.html" %}
{% block contenido %}
  <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    
                  <div class="x_content">
                    
                    <table id="datatable" class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>N°</th>
                          <th>FECHA</th>
                          <th>ENTIDAD</th>
                          <th>OBJETO</th>
                          <th>COMTRAPARTE FINANCIERA</th>
                          <th>VIGENCIA/AVANCE</th>
                        </tr>
                      </thead>


                      <tbody>
                        
                        {% for convenios in object_list %}
                            <tr>
                              <td>{{forloop.counter}}</td>
                              <td>{{ convenios.fecha}}</td>
                              <td>{{ convenios.entidad}}</td>
                              <td>{{ convenios.objetivo}}</td>
                              <td>{{ convenios.contra_financiera}}</td>
                              <td>{{ convenios.vig_avance}}</td>

                              
                            </tr>

                        {% endfor %}
                        
                   
                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- /page content -->
{% endblock %}