{% extends "base.html" %}
{% block contenido %}
  <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    
                  <div class="x_content">
                    
                    <table id="datatable" class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>CODIGO</th>
                          <th>NOMBRE</th>
                          <th>REGION</th>
                          <th>MUNICIPIO</th>
                          <th>RESPONSABLE</th>
                          <th>FECHA_INICIO</th>
                          <th>FECHA_FINAL</th>
                          <th>OBJETIVO</th>
                          <th>AVANCE</th>
                        </tr>
                      </thead>


                      <tbody>
                        
                        {% for finazas in object_list %}
                            <tr>
                              <td>{{forloop.counter}}</td>
                              <td>{{ finazas.codigo}}</td>
                              <td>{{ finazas.nombre}}</td>
                              <td>{{ finazas.region}}</td>
                              <td>{{ finazas.municipio}}</td>
                              <td>{{ finazas.responsable}}</td>
                              <td>{{ finazas.fecha_inicio}}</td>
                              <td>{{ finazas.fecha_final}}</td>
                              <td>{{ finazas.objetivo}}</td>
                              <td>{{ finazas.avance}}</td>

                              
                            </tr>

                        {% endfor %}
                        
                   
                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- /page content -->
{% endblock %}