{% extends "base.html" %}
{% block contenido %}
  <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              
             
            </div>

            <div class="clearfix"></div>

            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
             
              <a href="/crear_planificacion" class="btn btn-success">Crear Proyecto</a>
                <div class="x_panel">
                  
                    
                  <div class="x_content">
                    
                    <table id="" class="table table-striped table-bordered">
                      <thead>
                        <tr>
                         
                          <th>N°</th>
                          <th>Region</th>
                          <th>Municipio</th>
                          <th>Nombre Proyecto</th>
                          <th>Responsable Proyecto</th>
                          <th>Responsable Seguimiento</th>
                          <th></th>
                         
                        </tr>
                      </thead>

                      <tbody>
                        
                        {% for convenios in object_list %}
                            <tr>
                              <td>{{forloop.counter}}</td>
                              <td>
                                {% if convenios.region == '1' %}
                                  Metropolitana
                                {% endif %}
                                {% if convenios.region == '2' %}
                                  Vallez
                                {% endif %}
                                {% if convenios.region == '3' %}
                                  Tropico
                                {% endif %}
                                {% if convenios.region == '4' %}
                                  Cono sur
                                {% endif %}
                                {% if convenios.region == '5' %}
                                  Andina
                                {% endif %}
                        

                              </td>
                              <td>{{ convenios.municipio}}</td>
                              <td>{{ convenios.nombre_proyecto}}</td>
                              <td>{{ convenios.responsable_proyecto}}</td>
                              <td>{{ convenios.responsable_seguimiento}}</td>
                              <td>
                            
                                <a href="/crear_etapa/{{ convenios.pk}}" class="btn btn-primary  btn-sm" data-toggle="tooltip" data-original-title="Etapas"><i class="fa fa-sitemap"></i></a>
                               

                                <a href="/reporte_gantt/{{ convenios.pk}}" class="btn btn-info btn-sm" data-toggle="tooltip" data-original-title="Reportes"><i class="fa fa-bar-chart-o"></i> </a>
                               
                                <a href="#" class="btn btn-warning btn-sm" data-toggle="tooltip" data-original-title="Editar"><i class="fa fa-pencil"></i> </a>
                                <a href="#" class="btn btn-danger btn-sm" data-toggle="tooltip" data-original-title="Eliminar"><i class="fa fa-trash-o"></i> </a>

                              </td>

                              
                            </tr>

                        {% endfor %}
                        
                   
                        
                      </tbody>
                    </table>
                  </div>
              
              </div>

            </div>
          </div>
        </div>
        <!-- /page content -->
{% endblock %}